div {
    display: flex;
    gap: 20px;
}

.text-white {
    color: white;
}

.bg-blue{

background-color: blue;

}

.wrapper {
    flex-direction: column;
}

.header {
    flex-direction: row;
    justify-content: space-between;
}

.spacer {
    height: 30vh;
}

.search {
    flex-direction: row;
    justify-content: center;
}

.shop{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}



.shop-item {
    flex-direction: column;

    @media (max-width: 400px) {
        width: 40%;
    }

    @media (min-width: 400px) and (max-width: 600px) {
        width: 25%;
    }

    @media (min-width: 600px) {
        width: 15%;
    }

    padding: 10px;
}
